@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* background-image: url('/assets/daisies-pink.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* filter: brightness(0.6) contrast(0.9) grayscale(100%); */
  z-index: -1;
}
